body {
    background-color: #141B1A !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.shs {
  font-family: "Diplomata SC", serif;
}

.main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    position: relative;
    backdrop-filter: blur(10px);
    height: 400px;
}

.card-image {
    height: 190px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.glow-green {
    box-shadow: 0 0 20px rgba(83, 246, 113, 0.5);
}

.glow-blue {
    box-shadow: 0 0 20px rgba(30, 182, 231, 0.5);
}

.card-body {
    padding: 1.5rem;
}

.card-column {
    margin: 0 20px;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: white;
}

.card-text {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}

.card-text i {
    margin-right: 8px;
    margin-top: 3px;
    color: rgba(255, 255, 255, 0.9);
}

.address-link {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: color 0.3s ease;
}

.address-link:hover {
    color: white;
    text-decoration: underline;
}


.btn {
    border-radius: 25px;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    transform: scale(1);
}

.btn-primary:hover,
.btn-info:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    filter: brightness(1.1);
    color: #000;
}

.btn-primary {
    background: linear-gradient(to right, #53F671, #0A8270);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-info {
    background: linear-gradient(to right, #30A9DE, #1E73E1);
    border: none;
}

.top-left-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 247px;
    height: 322px;
}

@media only screen and (max-width: 600px) {
    .top-left-circle {
        visibility: hidden;
    }
}

footer {
    text-align: center;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    margin-top: auto;
}

h1 {
    color: white;
    font-size: 18px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 42px;
    text-align: center;
    margin-bottom: 2rem;
}

.btn-info {
    color: white;
}